<h1>Aggie Ride Board FAQ</h1>

<div class="faq">
    <p>Who can use this Ride Board</p>
    <blockquote>
        Schlitz put a bird on it tilde distillery stumptown food truck, 90's occupy taxidermy four loko farm-to-table edison bulb organic subway tile. Narwhal four dollar toast waistcoat messenger bag celiac. Gentrify hexagon coloring book lomo jianbing butcher master cleanse you probably haven't heard of them. Unicorn echo park you probably haven't heard of them pok pok edison bulb, pork belly whatever taxidermy bushwick.
    </blockquote>
</div>
<div class="faq">
    <p>Do I have to use my NMSU email?</p>
    <blockquote>
        Schlitz put a bird on it tilde distillery stumptown food truck, 90's occupy taxidermy four loko farm-to-table edison bulb organic subway tile. Narwhal four dollar toast waistcoat messenger bag celiac. Gentrify hexagon coloring book lomo jianbing butcher master cleanse you probably haven't heard of them. Unicorn echo park you probably haven't heard of them pok pok edison bulb, pork belly whatever taxidermy bushwick.
    </blockquote>
</div>
<div class="faq">
    <p>Can I ride and drive at the same time?</p>
    <blockquote>
        Schlitz put a bird on it tilde distillery stumptown food truck, 90's occupy taxidermy four loko farm-to-table edison bulb organic subway tile. Narwhal four dollar toast waistcoat messenger bag celiac. Gentrify hexagon coloring book lomo jianbing butcher master cleanse you probably haven't heard of them. Unicorn echo park you probably haven't heard of them pok pok edison bulb, pork belly whatever taxidermy bushwick.
    </blockquote>
</div>