<section class="footer" >
    
    <div class="footer">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                <div><img src="nmsug_little.jpg" class="logo"></div>
            </div>
            <div class="col-xs-12 col-md-3">
                <p class=""><strong>Address</strong><br>
                    1500 Third St<br>
                    Grants, NM 87020</p>
            </div>
            <div class="col-xs-12 col-md-3">
                <p class=""><strong>Contacts</strong><br>
                    Email: notsure@nmsu.edu<br>
                    Phone: 505-287-6678<br>
            </div>
            <div class="col-xs-12 col-md-3">
                <p class=""><strong>Links</strong><br>
                    <%= link_to "FAQ", info_FAQ_path %> <br>
                    <%= link_to "Contact Us", info_contact_path %> <br>
            </div>

        </div>
    </div>
</section>